.root
  padding 10px 0
  max-width 300px
  max-height 300px
  overflow auto

  .header
    text-align center
    font-weight bold
    margin-bottom 10px

  ul
    padding: 4px 8px
    list-style none
    text-align left
    margin 0 0 10px 0

    li + li
      border-top: 1px solid #d3daea

    .featureListItem
      cursor pointer