.root
  z-index 2
  position absolute
  top 10px
  right 300px
  margin auto
  background white
  box-shadow 0 0 5px 0 rgba(0, 0, 0, 0.2)
  box-sizing border-box
  padding 20px

.name
  margin-bottom 10px
  .units
    color #8b94aa
    font-size 12px

.colors
  list-style none
  margin 0
  padding 0
  li + li
    margin-top 10px
  .color
    width 20px
    height 11px
    display inline-block
    margin-right 10px